.ant-space{
    display: flex;
    justify-content: center;
}
.ant-space-item{
    margin-right: auto;
    margin-left: auto;
}
.ant-alert-message{
    font-family: 'Inter UI';
    font-size: 24px;
}
.movies_alert{
    min-height: 150px;
    max-width: 500px;
    font-family: 'Inter UI';
    font-size: 24px;
    line-height: 28px;
}
.movies_spin{
    display: flex;
    justify-content: center;
}
.movies_pagination{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.ant-pagination-options-size-changer{
    display: none;
}
.movies__tab{
    font-family: 'Inter UI';
    font-size: 14px;
    line-height: 22px;
}