.movies{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1024px) {
    .movies{
        width: 970px;
        margin-top: 13px;
        margin-bottom: 18px;
    }
}