.movie{
    position: relative;
    width: 300px;
    height: 245px;
    background-color: #FFFFFF;
}
.movie__poster{
    position: absolute;
    top: 6px;
    left: 10px;
    width: 60px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.movie__img{
    width: 60px;
    height: 91px;    
}
.movie__spin{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;  
    background-color: white;
}
.movie__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 100%;
}
.movie__about{
    padding-left: 80px;
    padding-right: 40px;
}
.movie__title{
    display: block;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    max-width: 222px;
    margin-top: 6px;
}
.movie__rating{
    position: absolute;
    right: 10px;
    top: 6px;
    display: flex;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-family: 'Inter UI';
    font-size: 12px;
    line-height: 25px;
    border-width: 2px;
    border-style: solid;
}
.bad__rating{
    border-color: var(--bad-rating);
}
.average__rating{
    border-color: var(--average-rating);
}
.good__rating{
    border-color: var(--good-rating);
}
.excellent__rating{
    border-color: var(--excellent-rating);
}
.movie__release-date{
    margin-top: 7px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #827E7E;
}
.movie__genre-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 7px;
}
.movie__genre{
    margin-right: 8px;
    height: 17px;    
    padding-left: 2px;
    padding-right: 2px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    background: #FAFAFA;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.65);
}
.movie__overview{
    display: block;
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    overflow: hidden;
}
.movie__rate{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
@media (min-width: 1024px) {
    .movie{
        display: flex;
        width: 475px;
        height: 275px;
    }
    .movie__poster{
        position: unset;
        width: 183px;
        height: 100%;
    }
    .movie__spin{
        width: 183px;
    }
    .movie__img{
        width: 183px;
        height: 275px;
    }
    .movie__about{
        padding-left: 20px;
        padding-right: 9px;
        max-height: 218.3px;
    }
    .movie__title{
        margin-top: 12px;
    }
    .movie__rating{
        top: 12px;
    }
    .movie__overview{
        padding-left: 20px;
    }
}