html, body{
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
}
:root{
    height: auto;
    width: auto;
    --bad-rating: #E90000;
    --average-rating: #E97E00;
    --good-rating: #E9D100;
    --excellent-rating: #66E900;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}